
body{
    font-family: 'Montserrat';
    margin: 0;
    
}

a{
    text-decoration: none;
    background-color: black;
    color: white;
    padding:3% 5%;
    border-radius: 100px;
    margin-top: 5%;
}
form{
  
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 30%;
    flex: 1;
    padding: 5%;
    justify-content: center;

}
input{
    border: unset;
    border: 1.5px solid black;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 3%;
    border-radius: 100px;
    outline: none;
}
button{
    padding: 3%;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 100px;
}
table{
    border-collapse: collapse;
    flex: 2;
    height: fit-content;
    margin-top: 5%;
    margin-right: 5%;
}
td{
    border: 1px solid black;
    
    color: black;
    
}
table a{

    background-color: white;
    color: black;
    cursor: pointer;

}
.list{
    margin-top: 3%;
}
.list a{
    padding: 1% 2%;
}
